@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.portfolio_container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.navlist{
    display: flex;
    gap: 3.5rem;
    /* background-color: black; */
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.left-container ,.right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.navlist li{
    list-style: none;
}

.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: wheat;
    position: relative;
}

.left-container{
 background: #262525;
 width: 70%;
 padding-left: 3rem;
}

.right-container{
background:linear-gradient(-45deg, rgba(5, 64, 224, 0.911),#262525);
width: 30%;
}
.icons .fa-brands{
    color: #bbb;
    font-size: 1.5rem;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.content{
    margin-left: 3rem;
    
}

.content .intro{
    font-size: 25px;
    color: #f1efef;
}
  
.content .intro span{
    color: red;
}

.content .detail{
    font-size: 3rem;
    color: #064dcf;
    max-width: 40rem;
}

.content .detail-2{
    font-size: 1rem;
    color: wheat;
    max-width: 30rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
    
}

.btn-container button{
    border: .1rem solid #139be9;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}

button:nth-child(1){
    background: #155bdd;
    color: #040c11;
}

button:nth-child(2){
    background: transparent;
    color: #064dcf;
    margin-left: 2rem;
}

button:nth-child(1):hover{
    background: transparent;
    color: #1b9ce7;
}


button:nth-child(2):hover{
    background: #155bdd;
    color: #040c11;
}

.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff,#3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.design .circle{
   aspect-ratio: 1;
   position: absolute;
   border-radius: 50%;
   top: 50%;
   left: 70%;
   transform: translate(-50% ,-50%);

}

.circle:nth-child(1){
    background: linear-gradient(90deg, transparent,#262525 50%);
    width: 30rem;
}

.circle:nth-child(2){
    background-color: rgb(194, 180, 180);
    width: 25rem;
   background-image: url(Snapchat-1981964681.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   border: 1rem solid rgb(192, 185, 185);
   box-shadow: 0 0 1rem #fff,
   inset 0 0 1rem #fff,
   0 0 2rem #3877ff,
   inset 0 0 2rem #3877FF,
   0 0 4rem #3877FF;

}

.navlist li a::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    
    transition: transform .5s;
}

.navlist li a:hover::after{
    transform: scalex(1);
    transform-origin: bottom left;
    width: 100%;
    height: .1rem;
    bottom: -5px;
}


